ARIA2C_SECRET= # 密码
HEROKU_APP_NAME= # heroku链接前缀
# If you need to use rclone, uncomment the following lines and fill them
#RCLONE_CONFIG='type = ...' # Use single quote to prevent weird things from happening
#RCLONE_DESTINATION=
